<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS FontAwesome GoogleFonts -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet"/>
    
  </head>
  <body>
  <!-- CONTENT STARTS HERE -->
  
    <!-- Header -->
    <header>
      <!-- Navigation Bar-->
      <nav class="navbar navbar-toggleable-md navbar-light" style="background-color:#FFFFFF" >
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Brand -->
        <a class="navbar-brand" href="/home/chumo/Desktop/WeConnect-API-oop-/Designs/UI/templates/index.html#">
            <i class="fas fa-map-marker" aria-hidden="true"></i>&nbsp; weConnect <span class="sr-only">(current)</span>
        </a>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home/chumo/Desktop/WeConnect-API-oop-/Designs/UI/templates/index.html#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home/chumo/Desktop/WeConnect-API-oop-/Designs/UI/templates/create_edit_business.html#">Create/Edit Business</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/chumo/Desktop/WeConnect-API-oop-/Designs/UI/templates/my_biz.html">My Businesses</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/home/chumo/Desktop/WeConnect-API-oop-/Designs/UI/templates/catalog.html">View Businesses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Review Business</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home/chumo/Desktop/WeConnect-API-oop-/Designs/UI/templates/register.html#">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home/chumo/Desktop/WeConnect-API-oop-/Designs/UI/templates/login.html#">Login</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    
    <!-- Main Body Content -->
    <div class="jumbotron">
            <div class="card">
                    <img class="card-img-top" src="https://vignette.wikia.nocookie.net/sqmegapolis/images/2/2d/RealWorld_Stonehenge.jpg" style="height: 20rem" alt="Card image cap">
                    <h3 class="card-header" style="text-align:center">Business Profile Page</h3>
                    <div class="card-block">
                        <p class="card-text"  style="text-align:center">This is where the description about the business will go</p>
                        <label for="exampleTextarea" >Recent Reviews</label>
                        <div class="card card-outline-success mb-3 text-center">
                                <div class="card-block">
                                  <blockquote class="card-blockquote">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                    <footer><h3>Name of 1st Reviewer</h3></footer>
                                  </blockquote>
                                </div>
                                </div>
                                <div class="card card-outline-success mb-3 text-center">
                                        <div class="card-block">
                                          <blockquote class="card-blockquote">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                            <footer><h3>Name of 2nd Reviewer</h3></footer>
                                          </blockquote>
                                        </div>
                                        </div>
                                                 
                        <div class="form-group">
                            <label for="exampleTextarea" class="bcText">Leave your Review Below</label>
                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                            <a href="#" class="btn btn-primary">Submit</a>
                          </div>

                    </div>
                  </div>

    </div>
    

    <!-- Footer -->
    <footer class="footer fixed-bottom">
      <div class="inner">
        <p><i class="fa fa-copyright" aria-hidden="true"></i>&nbsp; 2018 weConnect UI Templates Project by <a href="https://github.com/alexmochu"><i class="fab fa-github" aria-hidden="true"></i>&nbsp;alexmochu</a>.</p>
      </div>
    </footer>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>