<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS FontAwesome GoogleFonts -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet"/>
    
  </head>
  <body>
  <!-- CONTENT STARTS HERE -->
  
    <!-- Header -->
    <header>
      <!-- Navigation Bar-->
      <nav class="navbar navbar-toggleable-md navbar-light" style="background-color:#FFFFFF" >
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Brand -->
        <a class="navbar-brand" href="#">
            <i class="fas fa-map-marker" aria-hidden="true"></i>&nbsp; weConnect <span class="sr-only">(current)</span>
        </a>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/index.html#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/create_edit_business.html#">Create/Edit Business</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/my_biz.html">My Businesses</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/catalog.html">View Businesses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/biz_review_page.html">Add Business Reviews</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/register.html#">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login.html#">Login</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    
    <!-- Main Body Content -->
    <div class="intro-header">
    <div class="cover-container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>Welcome to weConnect API UI Templates</h1>                
            <h2>Create awareness of your businesses by creating a profile page for your Business</h2>
            <hr width="50%">
            <p>
              <a href="register.html" class="btn btn-danger">Register</a>
              <a href="login.html" class="btn btn-primary">Login</a>
            </p> 
          </div>
        </div>
      </div>
    </div>
    </div>
    

    <!-- Footer -->
    <footer class="footer fixed-bottom">
      <div class="inner">
        <p><i class="fa fa-copyright" aria-hidden="true"></i>&nbsp; 2018 weConnect UI Templates Project by <a href="https://github.com/alexmochu"><i class="fab fa-github" aria-hidden="true"></i>&nbsp;alexmochu</a>.</p>
      </div>
    </footer>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>